<h1>Signup!</h1>


  <%= form_for :user, url: '/users' do |f| %>
  <ul class="invisible_list">
    <li>First Name: <%= f.text_field :first_name %>
    <li>Last Name: <%= f.text_field :last_name %>
    <li>Email: <%= f.text_field :email %>
    <li>Password: <%= f.password_field :password %>
    <li>Password Confirmation: <%= f.password_field :password_confirmation %>
    <li><%= f.submit "Submit" %>
  </ul>

<% end %>
